
<html>
    <head>
        <title>CALCULATE BMI </title>
    <style>
        body{
            font-family:Arial,sans-serif;
            background-color:rgb(68, 0, 255);
            color:white;
            display:flex;
            justify-content: center;
            align-items: center;
            height:100vh;
            border-radius: 5%;
            background: rgb(240, 4, 28);

        }
         body {
            font-family: Arial, sans-serif;
            margin: 45px;
            background-color: rgb(6, 251, 222);
        }
        form {

            padding: 20px;
            border-radius: 8px;
            width: 300px;
        }
        input {
            margin-top: 10px;
            width: 100%;
            padding: 8px;
        }
        h2 {
            margin-top: 20px;
        }
        .container {
            background-color: rgb(0, 0, 0);
            padding: 20px;

